#userFolder
  .g-qc-nav-container
    .g-global-nav-main
      //- .sidebar.sidebar-header 
      //-   h4 Data Source

      ul.list.components.g-global-nav#mappingNav
        .mappingNavPanel.panel
          li.g-global-nav-li(data-toggle="collapse", 
              data-target='#mappingSAIPArch', 
              data-parent="#mappingNav")
            a.g-nav-link.qc-SAIP(g-name='qcSAIPProject' g-target='qcSAIPProject') 
              i.icon-download-cloud
              span SAIP
              //- i.icon-left-dir
              //- i.icon-right-dir
          .mappingArch#mappingSAIPArch.collapse
            //- p SAIP
          //- ul.collapse.list-unstyled#projects
          //-   .g-hierarchy-breadcrumb-bar
          //-   .g-folder-list-container

        if SSR_Project.id
          .mappingNavPanel.panel
            li.g-global-nav-li(data-toggle="collapse", 
              data-target='#mappingSSRArch', 
              data-parent="#mappingNav")
              a.g-nav-link.qc-Filesystem(g-id=SSR_Project.id g-name='qcSSRProject' g-target='qcSSRProject') 
                i.icon-file-archive
                span #{SSR_Project.get('name')}
                //- i.icon-left-dir
                //- i.icon-right-dir
            .mappingArch#mappingSSRArch.collapse
              //- p SSR
          //- ul.collapse.list-unstyled#filesystem

        if user.id
          .mappingNavPanel.panel
            li.g-global-nav-li(data-toggle="collapse", 
              data-target='#mappingUSERArch', 
              data-parent="#mappingNav")
              a.g-nav-link.qc-Girder(g-id=user.id g-name='qcUsers' g-target='qcUsers') 
                i.icon-edit
                span #{user.name()}
                //- i.icon-left-dir
                //- i.icon-right-dir
            .mappingArch#mappingUSERArch.collapse

      ul.viewButton(style='list-style: none;')
        button.btn.btn-success#startLink
          i.icon-link
          a Link
    .s-nav-siderBar
      span.hideBar
  .linkZone
    .row.dropFolderZone.collapse.in
      .col-md-6
        .g-drop-zone.original
          i.icon-folder-open "Drop original folder to here"
      .col-md-6
        .g-drop-zone.segmentation
          i.icon-folder-open "Drop segmentation folder to here"

    .panel-heading.collapsed(data-toggle="collapse" data-target=".dropFolderZone" style='text-align:center; padding: 0px; background: #f7f7f7;')
      i.icon-th-list
    .row.prepareLinkZone
      .col-md-6
        .prepared-zone.original
      .col-md-6
        .prepared-zone.segmentation
  //- .col-md-2.actions
  //-   .col-md-12.beforeLink(style='padding:0px')
  //-     i.icon-right.fa-arrow-before
       
  //-   .col-md-12.afterLink
  //-     i.icon-ok.fa-arrow-after
  //-   .col-md-12
  //-     button.checkLink.btn.btn-primary check
  //-   .col-md-12
  //-     button.link.btn.btn-primary Link
  


  //- .col-md-3.g-seg-container.g-ori-seg-container
  //- .col-md-2.g-seg-nav-container
  //-   .g-global-nav-main(style='box-shadow: inset 1px 0px 0 #eee;padding: 15px 6px 20px 0px;background-image: linear-gradient(90deg,#f4f4f4 0,#fff 7px);')
  //-     ul.list.components.g-global-nav
  //-       li.g-global-nav-li
  //-         a.g-nav-link-tile.SegmentationTile
  //-           span Segmentation
  //-       //- li.g-global-nav-li
  //-       //-   a.g-nav-link.qc-SAIP(g-name='qcSAIPProject' g-target='qcSAIPProject') 
  //-       //-     i.icon-download-cloud
  //-       //-     span SAIP
  //-       //-     i.icon-left-dir
  //-       //-     i.icon-right-dir
  //-         //- ul.collapse.list-unstyled#projects
  //-         //-   .g-hierarchy-breadcrumb-bar
  //-         //-   .g-folder-list-container

  //-       if SSR_Project.id
  //-         li.g-global-nav-li
  //-           a.g-nav-link.qc-Filesystem(g-id=SSR_Project.id g-name='qcSSRProject' g-target='qcSSRProject') 
  //-             i.icon-file-archive
  //-             span #{SSR_Project.get('name')}
  //-             i.icon-left-dir
  //-             i.icon-right-dir
  //-         //- ul.collapse.list-unstyled#filesystem

  //-       if user.id
  //-         li.g-global-nav-li
  //-           a.g-nav-link.qc-Girder(g-id=user.id g-name='qcUsers' g-target='qcUsers') 
  //-             i.icon-edit
  //-             span #{user.name()}
  //-             i.icon-left-dir
  //-             i.icon-right-dir



  //- .col-md-5.g-ori-selections
  //- .col-md-2.g-selections
    //- button.linkOriAnqceg Go
  //- .col-md-5.g-seg-selections
